---
title: Home
layout: default
---

<p>Since games and puzzles have been studied under a computational lens, researchers unearthed a rich landscape of complexity results showing deep connections between games and fundamental problems and models in computer science.
<i>Complexity of Games</i> (CoG) is a compendium of complexity results on games and puzzles. It aims to serve as a reference guide for enthusiasts and researchers on the topic and is a collaborative and open source project that welcomes contributions from the community.</p>

<p>The compendium <a href="{{site.baseurl}}/i/">indexes games and puzzles</a> for which hardness results are known. The list is far to be complete. If your favorite game is missing, please feel free to contribute by adding it to the list following the instructions on the <a href="https://gitlab.com/steven3k/complexity-of-games">CoG Gitlab repository</a>.
We also host <a href="{{site.baseurl}}/g/">supplementary material</a> related to the complexity of games, like implementations of hardness reductions, animations, simulations, cool visualizations of proofs, etc.</p>

<p>We hope that this project will help in spreading the knowledge and the beauty of the results in this area to even more game enthusiasts and professionals. We also hope this would stimulate the collaboration on the topic to push the state-of-the art of the research even further. Or that you just find it fun!</p>

<br/>
<a href="{{site.baseurl}}/i/" class="button_link">
    To the index
    <div class="button_icon">➥</div>
</a>
<br/>
<a href="{{site.baseurl}}/g/" class="button_link">
    To hosted content
    <div class="button_icon">➥</div>
</a>
<br/>


