<div class=footer>
  <hr/>
  <small class="footer_text">
    This page is part of the <a href="{{site.baseurl}}/">Complexity of Games (CoG)</a> project. <a href="https://gitlab.com/steven3k/complexity-of-games">Contribute</a>.
<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo_small.png" class="footer_logo"></a>
  <br/>
  </small>
</div>
