<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {
  inlineMath: [ ['$','$'], ['\\(', '\\)'] ],
  displayMath: [ ['$$','$$'], ['\\[', '\\]'] ],
  processEscapes: true
}
});
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
