<!DOCTYPE html>
<html>
  <head>
    {% include style.html %}
    {% include title.html %}
    {% include mathjax.html %}
    {% include analytics.html %}
    {% include favicon.html %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/font.css">
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <div class="list_page">
        <h1>{{ page.title | escape }}</h1>
        {{ page.short_description | escape }}
        <hr/>
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>

